services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db

  migrator:
    build: .
    container_name: mongo_migrator
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://admin:password@mongo:27017/
    volumes:
      - "C:/Users/micka/Formation IA/Projet 5/data:/app/data"

volumes:
  mongo_data:
